* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instaLogo {
    margin-bottom: 20px;
}
.containerImagens{
    position: relative;
}

.imgCelular {
    width: 450px;

}
.imagemCelular{
    height: 520px;
    position: absolute;
    left: 153px;
    top: 26px;
    transition: opacity 2s ease-in-out;
}

.containerItens {
    display: flex;
    width: 350px;

}

.containerForm {
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    background-color: #FFFFFF;
    padding: 50px 40px 50px 40px;

}

input {
    height: 36px;
    outline: none;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 5px;
    color: #262626;
}

button {
    background: #0095f6;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    margin-top: 20px;
    cursor: pointer;
}

.loginFacebook {
    color: #385185;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.esqueceuSenha {
    color: #0095f6;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

}

.containerCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #dbdbdb;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}

.linkCadastro {
    color: #0095f6;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    text-decoration: none;
    cursor: pointer;
}

.paragrafoConta {
    font-size: 14px;
}

.paragrafoApp {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.containerApp {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.logoApp {
    width: 150px;
}